/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 @media only screen  and (min-width : 1224px) {
   .header-info {
     font-weight: 300!important;
     padding-right: 180px;
     padding-left: 180px;
   }
/* Styles */
}
.timeline-section {
  padding-top:50px;
  padding-bottom:50px;
}
.why-section {
  height: 90vh;
}

.font-weight-300 {

}
.right-border {
  border-right: 1px solid #8e8e8e;
}
 .nav-wrapper.scrolled {
     background-color: #212121;
     color: white;
 }

 .intro-header {
    padding-top: 50px;
    padding-bottom: 80px;
    text-align: center;
    color: #f8f8f8;
}

 .nav-wrapper {
    -webkit-transition: all 0.6s cubic-bezier;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.scrolled > ul a  {
  color: white;
}

.title-container {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  z-index: 996;
}
.title-container .headline {
  text-align: center;
  color: #fff;
}
.title-container h3, .title-container h5 {
    position: relative;
}
.title-container h3 {
  font-size: 42px;
  line-height: 44px;
  margin: 15px 0 10px;
}
.title-container h5 {
  font-size: 22px;
  margin: 20px 0 0;
}

 .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 10%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.ih-blue-text {
  color: #3DC4FC!important
}

.ih-blue {
  background-color: #3DC4FC!important
}

body {
  font-family: 'Roboto'!important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


#content {
  margin-top: 50px;
  text-align: center;
}

section.timeline-outer {
  width: 80%;
  margin: 0 auto;
}

h1.header {
  font-size: 50px;
  line-height: 70px;
}
/* Timeline */


.timeline {
    white-space:nowrap;
    overflow-x: scroll;
    padding:30px 0 10px 0;
    position:relative;
}

.entry {
    display:inline-block;
    vertical-align:top;
    background:#292929;
    color:#fff;
    padding:10px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-top:4px solid #06182E;
    border-radius:3px;
    min-width:220px;
    max-width:250px;
}

.entry img {
    display:block;
    max-width:100%;
    height:auto;
    margin-bottom:10px;
}

.entry:after {
    content:'';
    display:block;
    background:#eee;
    width:7px;
    height:7px;
    border-radius:6px;
    border:3px solid #06182E;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#06182E;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}

.entry h1 {
    color:#fff;
    font-size:18px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}

.bar {
    height:4px;
    background:#eee;
    width:100%;
    position:relative;
    top:13px;
    left:0;
}
